<div>
  {%- for block in section.blocks -%}
    <div class="page-content-block {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {%- if block.settings.page != blank -%}
        <div class="page-content-block__content">
          {{ block.settings.page.content }}
        </div>
      {%- endif -%}

    </div>
  {%- endfor -%}
</div>

{% schema %}
  {
    "name": "Split Column",
    "class": "split-column",
    "tag": "section",
    "max_blocks": 2,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "name": "Content Block",
        "type": "content",
        "settings": [
          {
            "type": "page",
            "id": "page",
            "label": "Insert content from another page"
          }
        ]
      },
      {
        "name": "Rich Text Block",
        "type": "richtext",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Split Page Columns",
        "blocks": [
          {
            "type": "richtext"
          },
          {
            "type": "content"
          }
        ]
      }
    ]
  }
{% endschema %}
