.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media only screen and (max-width: 749px) {
  .list-social {
    justify-content: center;
  }
}

.list-social__item .icon {
  --social-icon-size: max(2.2rem, 1.2vw);
  height: var(--social-icon-size);
  width: var(--social-icon-size);
}

.footer .list-social__item .icon {
  --social-icon-size: max(4.2rem, 2.6vw);
}

.list-social__link {
  align-items: center;
  display: flex;
  padding: 1.1rem;
  color: rgb(var(--color-foreground));
}

.list-social__link:hover,
.list-social__link:focus {
  color: rgb(var(--color-rgb-dip-nectar));
}

.utility-bar .list-social__link {
  padding: 0 0.8rem;
  height: 3.8rem;
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}
